@use '../abstracts/variables' as *;
@use '../components/buttons' as *;

// buttons
.button {
  &:hover {
    color: var(--dark-blue);
    background-color: var(--light-blue);
  }
  &:active {
    color: var(--light-blue);
    background-color: var(--darker-grey);
  }
}
button {
  background-color: var(--wool-beige);
  padding: 20px 40px;
  border-radius: 30px;
  display: block;
  margin: 20px 20px;
}

// Main Area
body {
  background-color: var(--off-white);
  color: var(--black);
}

main {
  padding: 10px 0 ;
  text-align: center;
  border-top: 1px solid var(--black);
}

.gameArea {
  border: 3px solid black;
  display: inline-block;
  min-height: 700px;
  min-width: 700px;
  margin: 10px 0;
}

.callToAction {
  font-size: 30px;
  margin: 30px;
}

.playButton {
  margin: 20px 40%;
}

.weaponButton {
  display: inline-block;
}
