@use '../abstracts/variables' as *;
@use '../components/buttons' as *;

// buttons
.button {
  &:hover {
    color: var(--dark-blue);
    background-color: var(--light-blue);
  }
  &:active {
    color: var(--light-blue);
    background-color: var(--darker-grey);
  }
}
button {
  background-color: var(--wool-beige);
  padding: 20px 40px;
  border-radius: 30px;
}

// Main Area
body {
  background-color: var(--off-white);
  color: var(--black);
}

main {
  padding: 10px 0 ;
  text-align: center;
  border-top: 1px solid var(--black);
}

ul {
  color: hsl(0, 0%, 11%);
  text-align: left;
  margin-top: 40px;
  margin-left: 350px;
  h3 {
    margin-left: -30px;
    text-decoration: underline;
  }
}
