@use '../abstracts/variables' as *;
@use '../components/buttons' as *;

@mixin pixelart {
  image-rendering: pixelated;
}
// buttons
.button {
  &:hover {
    color: var(--dark-blue);
    background-color: var(--light-blue);
  }
  &:active {
    color: var(--light-blue);
    background-color: var(--darker-grey);
  }
}
button {
  background-color: var(--wool-beige);
  padding: 20px 40px;
  border-radius: 30px;
}

// Main Area
body {
  background-color: var(--off-white);
  color: var(--black);
}
main {
  padding: 10px 0 ;
  text-align: center;
  border-top: 1px solid var(--black);
}

.feltAnimals {
  width: 180px;
  height: 190px;
}

.hand {
  width: calc(64px * var(--pixel-size));
  height: calc(64px * var(--pixel-size));
  // background-color: yellow;
  overflow: hidden;
  margin: 20px auto;
}
.handsprites {
  @include pixelart;
  // UNCOMMENT BELOW TO START ANIMATION
  // animation: moveSpriteSheet 1s steps(5) infinite alternate;
  width: calc(320px * var(--pixel-size));
  height: calc(64px * var(--pixel-size));
}
.moveHand {
  animation: moveSpriteSheet 1s steps(5) infinite alternate;
}

@keyframes moveSpriteSheet {
  from {
    transform: translate3d(0px,0,0)
  }
  to {
    transform: translate3d(-100%,0,0)
  }
}
