// Buttons
@use '../abstracts/variables' as *;
@mixin standard-button {
  padding: 20px 40px;
  background-color: var(--blue);
  color: var(--off-white);
}
@mixin menu-buttons { 
  // background matched button
  // dark-grey on hover
  background-color: var(--dark-blue);
  color: var(--off-white);
  font-weight: bold;
  display: block;
  height: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  &:hover {
    background-color: var(--off-white);
  }
  &:visited {
    color: var(--black);
  }
}
